<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:allowBackup="true" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@drawable/logocenter" android:label="Guitar_Center" android:roundIcon="@drawable/logocenter" android:supportsRtl="true" android:theme="@style/Theme.Watch" tools:targetApi="31">
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:exported="false"> </activity>
        <activity android:name=".AboutUs" android:exported="false"/>
        <activity android:name=".Promotion" android:exported="false"/>
        <activity android:name=".Profile" android:exported="false"/>
        <activity android:name=".DetailItem" android:exported="false"/>
        <activity android:name=".HomeScreens" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"> </activity>
    </application>
</manifest>